
<!-- GET show all appliances -->
{{#each appliances as |appliance|}}
  <!-- {{log appliance}} -->
  <section data-id="{{appliance.id}}">
    <h6>ID:</h6>
    <div>
      <p>
      {{#if appliance.id}}
        {{appliance.id}}
      {{else}}
        No id provided.
      {{/if}}
    </p>
    </div>
    <h6>Part:</h6>
    <div>
      <p>
      {{#if appliance.part_number}}
        {{appliance.part_number}}
      {{else}}
        No part_number provided.
      {{/if}}
    </p>
    </div>
    <h6>Location:</h6>
    <div>
      <p>
      {{#if appliance.location}}
        {{appliance.location}}
      {{else}}
        No location provided.
      {{/if}}
    </p>
    </div>
    <h6>Image URL:</h6>
    <div>
      <p>
      {{#if appliance.image_url}}
        {{appliance.image_url}}
      {{else}}
        No image provided.
      {{/if}}
    </p>
    </div>
    <!-- <button data-id="{{appliance.id}}" class="btn btn-danger remove-appliance">Remove Appliance</button> -->
    <!-- {{> partial}} -->
  </section>

<!-- PATCH update-->
    <h6>Update Appliance</h6>
      <div class="message-box"></div>
        <form class="update-form" data-id="{{appliance.id}}">
          <div data-id="{{appliance.id}}"></div>
          <input name="appliance[location]" value="{{appliance.location}}" type="text" data-id={{"appliance.id"}}></input>

          <input name="appliance[part_number]" value="{{appliance.part_number}}" type="text" data-id="{{appliance.id}}"></input>

          <input name="appliance[image_url]" value="{{appliance.image_url}}" type="text" data-id="{{appliance.id}}"></input>
          <button data-id="{{appliance.id}}" class="editButton btn btn-primary">Update Appliance</button>
        </form>

<!-- DELETE destroy appliance -->
          <button type="button" data-id="{{appliance.id}}" class="btn btn-danger remove-appliance">Delete Appliance</button>


{{/each}}
