
<!-- GET show all appliances -->
<!-- <div> -->
  <!-- <button class="btn btn-outline-warning clearLabsButton">Clear Appliances</button> -->

{{#each appliances as |appliance|}}
  {{log appliance}}
  <section data-id="{{appliance.id}}">
    <h6>ID:</h6>
    <div>
      <p>
      {{#if appliance.id}}
        {{appliance.id}}
      {{else}}
        No id provided.
      {{/if}}
    </p>
    </div>
    <h6>Part:</h6>
    <div>
      <p>
      {{#if appliance.part_number}}
        {{appliance.part_number}}
      {{else}}
        No part_number provided.
      {{/if}}
    </p>
    </div>
    <h6>Location:</h6>
    <div>
      <p>
      {{#if appliance.location}}
        {{appliance.location}}
      {{else}}
        No location provided.
      {{/if}}
    </p>
    </div>
    <h6>Image URL:</h6>
    <div>
      <p>
      {{#if appliance.image_url}}
        {{appliance.image_url}}
      {{else}}
        No url provided.
      {{/if}}
    </p>
    </div>
    <!-- <h6>Image</h6>
    <div>
      <p>
      {{#if appliance.image_url}}
        <img src="{{appliance.image_url}}">
      {{else}}
        No image provided.
      {{/if}}
    </p>
    </div> -->
    <!-- <button data-id="{{appliance.id}}" class="btn btn-danger remove-appliance">Remove Appliance</button> -->
    <!-- {{> partial}} -->
  </section>
<!-- </div> -->

<!-- PATCH update-->
    <h6>Update Appliance</h6>
      <div class="message-box"></div>
        <form class="update-form" data-id="{{appliance.id}}">
          <input name="appliance[location]" value="" type="text" placeholder='Location' data-id="{{appliance.id}}" required>

          <input name="appliance[part_number]" value="" type="text" placeholder='Part Number' data-id="{{appliance.id}}" required>

          <input name="appliance[image_url]" value="" type="text" placeholder='Image URL' data-id="{{appliance.id}}" required>
          <input type="submit" data-id="" class="editButton btn btn-secondary" value="Update Appliance">
        </form>

<!-- DELETE destroy appliance -->
      <button type="button" data-id="{{appliance.id}}" class="btn btn-danger remove-appliance">Delete Appliance</button>


{{/each}}
